Repository radicle-dev/radicle-upstream, pull requests merged in 2020-03, with the labels that each got.

#204 Use open source fonts
  public/fonts/GTAmericaBold.otf
  public/fonts/GTAmericaMedium.otf
  public/fonts/GTAmericaMonoBold.otf
  public/fonts/GTAmericaMonoMedium.otf
  public/fonts/GTAmericaMonoRegular.otf
  public/fonts/GTAmericaRegular.otf
  public/fonts/Inter-Black.otf
  public/fonts/Inter-BlackItalic.otf
  public/fonts/Inter-Bold.otf
  public/fonts/Inter-BoldItalic.otf
  public/fonts/Inter-ExtraBold.otf
  public/fonts/Inter-ExtraBoldItalic.otf
  public/fonts/Inter-ExtraLight.otf
  public/fonts/Inter-ExtraLightItalic.otf
  public/fonts/Inter-Italic.otf
  public/fonts/Inter-Light.otf
  public/fonts/Inter-LightItalic.otf
  public/fonts/Inter-Medium.otf
  public/fonts/Inter-MediumItalic.otf
  public/fonts/Inter-Regular.otf
  public/fonts/Inter-SemiBold.otf
  public/fonts/Inter-SemiBoldItalic.otf
  public/fonts/Inter-Thin.otf
  public/fonts/Inter-ThinItalic.otf
  public/fonts/SourceCodePro-Black.otf
  public/fonts/SourceCodePro-BlackIt.otf
  public/fonts/SourceCodePro-Bold.otf
  public/fonts/SourceCodePro-BoldIt.otf
  public/fonts/SourceCodePro-ExtraLight.otf
  public/fonts/SourceCodePro-ExtraLightIt.otf
  public/fonts/SourceCodePro-It.otf
  public/fonts/SourceCodePro-Light.otf
  public/fonts/SourceCodePro-LightIt.otf
  public/fonts/SourceCodePro-Medium.otf
  public/fonts/SourceCodePro-MediumIt.otf
  public/fonts/SourceCodePro-Regular.otf
  public/fonts/SourceCodePro-Semibold.otf
  public/fonts/SourceCodePro-SemiboldIt.otf
  public/typography.css
  ui/DesignSystem/Component/SourceBrowser/FileSource.svelte
  ui/DesignSystem/Primitive/Caption.svelte
  ui/DesignSystem/Primitive/Code.svelte
  ui/DesignSystem/Primitive/Input/Text.svelte
  ui/DesignSystem/Primitive/Numeric.svelte
  ui/DesignSystem/Primitive/Text.svelte
  ui/DesignSystem/Primitive/Title.svelte
  ui/Screen/CreateProject.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/DesignSystemGuide/TypographySwatch.svelte
Labels: improvement, ui

#203 Extract domain entities
  proxy/src/env.rs
  proxy/src/error.rs
  proxy/src/graphql.rs
  proxy/src/graphql/schema.rs
  proxy/src/identity.rs
  proxy/src/lib.rs
  proxy/src/project.rs
  proxy/tests/graphql_mutation.rs
  ui/Screen/CreateProject.svelte
Labels: improvement, proxy

#200 Extract transaction overview
  ui/DesignSystem/Component/Transaction.svelte
  ui/DesignSystem/Component/Transaction/Row.svelte
  ui/DesignSystem/Component/index.js
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/RegisterProject/ConfirmTransactionStep.svelte
  ui/Screen/RegisterProject/PickWalletStep.svelte
  ui/Screen/RegisterProject/TransactionSummaryStep.svelte
Labels: improvement, ui

#195 Dropdown menu component
  package.json
  public/global.css
  ui/DesignSystem/Component/AdditionalActionsDropdown.svelte
  ui/DesignSystem/Component/ProjectTopbar/Menu.svelte
  ui/DesignSystem/Component/Sidebar.svelte
  ui/DesignSystem/Component/Topbar.svelte
  ui/DesignSystem/Component/Topbar/Menu.svelte
  ui/DesignSystem/Component/Topbar/MenuItem.svelte
  ui/DesignSystem/Component/index.js
  ui/DesignSystem/Primitive/Icon/ArrowUp.svelte
  ui/DesignSystem/Primitive/Icon/Copy.svelte
  ui/DesignSystem/Primitive/Icon/index.js
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/Project.svelte
  yarn.lock
Labels: feature, ui

#159 Add raw data access for testing
  .buildkite/run.sh
  cypress/integration/navigation.spec.js
  cypress/integration/source_browsing.spec.js
  cypress/support/commands.js
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/coco.rs
  proxy/src/graphql/api.rs
  proxy/src/graphql/schema.rs
  proxy/src/main.rs
  proxy/src/project.rs
  proxy/src/registry.rs
  proxy/tests/common/mod.rs
  proxy/tests/graphql_control_mutation.rs
  proxy/tests/graphql_query.rs
  ui/DesignSystem/Component/SidebarLayout.svelte
  ui/DesignSystem/Component/SourceBrowser/RevisionSelector.svelte
  ui/Screen/Project.svelte
  ui/config.js
Labels: feature, proxy

#210 New step counter
  ui/DesignSystem/Component/StepCounter.svelte
  ui/DesignSystem/Primitive/Icon/StepCounter.svelte
  ui/DesignSystem/Primitive/Icon/index.js
  ui/DesignSystem/Primitive/Line.svelte
  ui/DesignSystem/Primitive/index.js
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/RegisterProject.svelte
Labels: improvement, ui

#217 Implement basic avatar generation
  proxy/src/avatar.rs
  proxy/src/lib.rs
Labels: feature, proxy

#218 Extend schema with avatar fallback
  proxy/src/avatar.rs
  proxy/src/graphql/schema.rs
  proxy/tests/graphql_query.rs
Labels: feature, proxy

#222 Add official avatar list and usage
  proxy/src/avatar.rs
  proxy/src/graphql/schema.rs
  proxy/tests/graphql_query.rs
Labels: improvement, proxy

#221 Extend Avatar with new fallback data
  proxy/src/graphql/schema.rs
  proxy/tests/graphql_mutation.rs
  proxy/tests/graphql_query.rs
  ui/DesignSystem/Primitive/Avatar.svelte
  ui/DesignSystem/Primitive/Input/Text.svelte
  ui/Screen/DesignSystemGuide.svelte
Labels: feature, ui

#223 fix: swap proxy flags to respect emulator
  proxy/src/main.rs
Labels: bug, proxy

#216 User handle registration flow
  cypress/integration/user_registration.spec.js
  proxy/src/graphql/schema.rs
  ui/App.svelte
  ui/DesignSystem/Component/Transaction.svelte
  ui/DesignSystem/Component/Transaction/Row.svelte
  ui/DesignSystem/Primitive/Avatar.svelte
  ui/DesignSystem/Primitive/Input/Text.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/UserRegistration.svelte
  ui/Screen/UserRegistration/PickHandleStep.svelte
  ui/Screen/UserRegistration/SubmitRegistrationStep.svelte
  ui/lib/hotkeys.js
  ui/lib/path.js
Labels: feature, ui

#227 Integrate tx fee
  .buildkite/run.sh
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/graphql/schema.rs
  proxy/src/registry.rs
Labels: feature, proxy

#237 feat(proxy): convert registry validation errors correctly
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/error.rs
  proxy/src/graphql/error.rs
  proxy/src/registry.rs
Labels: improvement, proxy

#238 feat(proxy): wire up Registry user registration
  cypress/integration/user_registration.spec.js
  cypress/support/commands.js
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/graphql/schema.rs
  proxy/src/registry.rs
  ui/App.svelte
  ui/Screen/UserRegistration/PickHandleStep.svelte
Labels: feature, proxy

#235 Implement transaction state icon
  ui/DesignSystem/Primitive/Icon/TxState.svelte
  ui/DesignSystem/Primitive/Icon/index.js
  ui/Screen/DesignSystemGuide.svelte
Labels: feature, ui

#239 chore(ui): update major depdencies
  .buildkite/Dockerfile
  .buildkite/pipeline.yaml
  package.json
  yarn.lock
Labels: security, ui

#248 Small svg tweak
  ui/DesignSystem/Primitive/Icon/TxState.svelte
Labels: improvement, ui

#211 New identity flow
  cypress/integration/identity_creation.spec.js
  cypress/integration/project_creation.spec.js
  ui/App.svelte
  ui/DesignSystem/Component/ModalLayout.svelte
  ui/DesignSystem/Component/Sidebar.svelte
  ui/DesignSystem/Primitive/Avatar.svelte
  ui/Screen/CreateProject.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/Identity/IdentityCreationForm.svelte
  ui/Screen/Identity/IdentityCreationSuccess.svelte
  ui/Screen/IdentityCreation.svelte
  ui/lib/hotkeys.js
  ui/lib/path.js
  ui/store/identity.js
Labels: feature, ui

#247 Implement naive tx cache
  proxy/src/graphql/api.rs
  proxy/src/graphql/schema.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  proxy/src/registry.rs
  proxy/tests/common/mod.rs
  proxy/tests/graphql_control_mutation.rs
  proxy/tests/graphql_query.rs
Labels: feature, proxy

#252 Use stored identity for handle registration
  cypress/integration/user_registration.spec.js
  ui/Screen/Identity/IdentityCreationForm.svelte
  ui/Screen/UserRegistration.svelte
  ui/store/identity.js
Labels: improvement, ui

#251 feat(proxy): extend project with org/user relation
  cypress/support/commands.js
  proxy/src/graphql/schema.rs
  proxy/src/project.rs
  proxy/tests/graphql_mutation.rs
  proxy/tests/graphql_query.rs
  ui/Screen/RegisterProject.svelte
  ui/Screen/UserRegistration.svelte
Labels: feature, proxy

#249 feat(ui): copyable component (#180)
  native/ipc.js
  native/main.js
  native/types.js
  ui/DesignSystem/Component/AdditionalActionsDropdown.svelte
  ui/DesignSystem/Component/Copyable.svelte
  ui/DesignSystem/Component/SourceBrowser.svelte
  ui/DesignSystem/Component/SourceBrowser/File.svelte
  ui/DesignSystem/Component/SourceBrowser/FileList.svelte
  ui/DesignSystem/Component/SourceBrowser/Folder.svelte
  ui/DesignSystem/Component/index.js
  ui/DesignSystem/Primitive/Input/Directory.svelte
  ui/lib/path.js
  ui/lib/types.js
Labels: feature, ui

#243 chore(proxy): address clippy errors
  proxy/src/avatar.rs
  proxy/src/lib.rs
  proxy/src/registry.rs
Labels: improvement, proxy

#256 feat(proxy): extend identity with registered field
  proxy/src/graphql/schema.rs
  proxy/src/identity.rs
  proxy/tests/graphql_mutation.rs
  proxy/tests/graphql_query.rs
Labels: feature, proxy

#257 feat(proxy): add thresholds to transaction list
  proxy/src/graphql/schema.rs
  proxy/src/registry.rs
  proxy/tests/graphql_query.rs
Labels: feature, proxy

#258 feat(proxy): add kind to transaction messages
  proxy/src/graphql/schema.rs
  proxy/tests/graphql_query.rs
Labels: feature, proxy
