Repository radicle-dev/radicle-upstream, pull requests merged in 2020-07, with the labels that each got.

#618 feat: syntax highlighting
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/coco/source.rs
  proxy/src/http.rs
  proxy/src/http/identity.rs
  proxy/src/http/session.rs
  proxy/src/http/source.rs
  proxy/src/session.rs
  ui/DesignSystem/Component/SourceBrowser/FileSource.svelte
  ui/src/source.ts
Labels: feature, proxy, ui

#620 feat(ui): scope repository selector by peer
  cypress/integration/project_source_browsing.spec.js
  cypress/support/commands.js
  proxy/src/coco/source.rs
  proxy/src/http/org.rs
  proxy/src/http/source.rs
  ui/DesignSystem/Component/SourceBrowser/File.svelte
  ui/DesignSystem/Component/SourceBrowser/Folder.svelte
  ui/DesignSystem/Component/SourceBrowser/RevisionSelector.svelte
  ui/DesignSystem/Primitive/Avatar.svelte
  ui/Screen/Project.svelte
  ui/Screen/Project/Commit.svelte
  ui/Screen/Project/Revisions.svelte
  ui/Screen/Project/Source.svelte
  ui/src/config.ts
  ui/src/path.ts
  ui/src/source.ts
Labels: feature, proxy, ui

#624 refactor(ui): transaction list visual updates
  ui/DesignSystem/Component/Transaction/Center.svelte
  ui/DesignSystem/Component/Transaction/Item.svelte
  ui/DesignSystem/Component/Transaction/List.svelte
  ui/DesignSystem/Component/Transaction/Summary.svelte
Labels: improvement, ui

#617 chore(proxy): update registry client
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/registry.rs
Labels: dependencies, infrastructure, proxy

#626 feat: implement nuke command
  package.json
  proxy/Cargo.toml
  proxy/src/bin/nuke.rs
  proxy/src/coco/control.rs
  proxy/src/config.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  ui/Screen/Settings.svelte
Labels: improvement, infrastructure, proxy

#625 refactor(ui): smoother box shadows
  public/elevation.css
  ui/Screen/Project/CloneButton.svelte
Labels: improvement, ui

#628 feat(proxy): integrate rad/self
  cypress/integration/project_source_browsing.spec.js
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/coco.rs
  proxy/src/coco/peer.rs
  proxy/src/http.rs
  proxy/src/http/control.rs
  proxy/src/http/identity.rs
  proxy/src/http/project.rs
  proxy/src/identity.rs
  proxy/src/main.rs
  ui/Screen/IdentityCreation.svelte
  ui/Screen/IdentityCreation/Form.svelte
Labels: improvement, proxy

#633 chore(ui): remove avatars from commit authors
  proxy/src/coco/source.rs
  proxy/src/http/source.rs
  ui/DesignSystem/Component/UserCard.svelte
  ui/Screen/DesignSystemGuide.svelte
Labels: improvement, ui

#634 fix(ui): open external links in default OS browser
  native/main.js
Labels: improvement, ui

#630 refactor(ui): add empty state when no Readme exists
  ui/DesignSystem/Primitive/Icon/EmptyState.svelte
  ui/Screen/Project/Source.svelte
Labels: improvement, ui

#639 chore(proxy): fetch owner on request
  proxy/src/coco.rs
  proxy/src/error.rs
  proxy/src/http.rs
  proxy/src/http/control.rs
  proxy/src/http/identity.rs
  proxy/src/http/org.rs
  proxy/src/http/project.rs
  proxy/src/http/user.rs
  proxy/src/identity.rs
  proxy/src/main.rs
  proxy/src/project.rs
  proxy/src/registry.rs
  proxy/src/registry/transaction.rs
  proxy/src/session.rs
Labels: improvement, proxy

#642 chore(proxy): bump coco deps
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/coco/peer.rs
  proxy/src/coco/source.rs
  proxy/src/http.rs
  proxy/src/http/identity.rs
  proxy/src/http/org.rs
  proxy/src/http/project.rs
  proxy/src/http/source.rs
  proxy/src/identity.rs
  proxy/src/main.rs
Labels: dependencies, improvement, proxy

#644 refactor(ui): remove @ from profile header
  ui/DesignSystem/Component/Header/Large.svelte
Labels: improvement, ui

#637 refactor(ui): restyle the transaction details modal
  cypress/integration/identity_creation.spec.js
  cypress/integration/org_member_addition.spec.js
  cypress/integration/org_registration.spec.js
  cypress/integration/project_registration.spec.js
  cypress/integration/user_registration.spec.js
  ui/DesignSystem/Component/AdditionalActionsDropdown.svelte
  ui/DesignSystem/Component/Copyable.svelte
  ui/DesignSystem/Component/Header/Large.svelte
  ui/DesignSystem/Component/Rad.svelte
  ui/DesignSystem/Component/Registration/StepModalLayout.svelte
  ui/DesignSystem/Component/Transaction.svelte
  ui/DesignSystem/Component/Transaction/Header.svelte
  ui/DesignSystem/Component/Transaction/Row.svelte
  ui/DesignSystem/Component/Transaction/Statusbar.svelte
  ui/DesignSystem/Component/index.js
  ui/DesignSystem/Primitive/Icon/Currency.svelte
  ui/DesignSystem/Primitive/Icon/LockSmall.svelte
  ui/DesignSystem/Primitive/Icon/Register.svelte
  ui/DesignSystem/Primitive/Icon/StepCounter.svelte
  ui/DesignSystem/Primitive/Icon/index.js
  ui/DesignSystem/Primitive/Title.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/IdentityCreation/Success.svelte
  ui/Screen/Org/MemberRegistration.svelte
  ui/Screen/OrgRegistration.svelte
  ui/Screen/Project/CloneButton.svelte
  ui/Screen/Project/Source.svelte
  ui/Screen/ProjectRegistration.svelte
  ui/Screen/TransactionDetails.svelte
  ui/Screen/UserRegistration.svelte
  ui/src/transaction.ts
Labels: improvement, ui

#661 Fix navgation font weight
  ui/DesignSystem/Component/HorizontalMenu/MenuItem.svelte
Labels: bug, ui

#660 refactor(ui): consistent border colors and border widths
  ui/DesignSystem/Component/Dropdown.svelte
  ui/DesignSystem/Component/Dropdown/Option.svelte
  ui/DesignSystem/Component/List.svelte
  ui/DesignSystem/Component/RadioOption.svelte
  ui/DesignSystem/Component/SourceBrowser/RevisionSelector.svelte
  ui/DesignSystem/Component/SupportButton.svelte
  ui/DesignSystem/Component/Transaction/Center.svelte
  ui/DesignSystem/Primitive/Button.svelte
  ui/DesignSystem/Primitive/Input/Text.svelte
  ui/DesignSystem/Primitive/Input/Textarea.svelte
  ui/Screen/Project/CheckoutButton.svelte
  ui/Screen/UserRegistration/PickHandleStep.svelte
Labels: ui

#663 chore(proxy): Bump registry client
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/error.rs
  proxy/src/registry.rs
  proxy/src/registry/transaction.rs
Labels: dependencies, proxy

#629 feat(ui): discovery ui
  DEVELOPMENT.md
  cypress/integration/discovery.spec.js
  package.json
  ui/App.svelte
  ui/DesignSystem/Component/Copyable.svelte
  ui/DesignSystem/Component/Sidebar.svelte
  ui/DesignSystem/Component/Tooltip.svelte
  ui/DesignSystem/Component/TrackToggle.svelte
  ui/DesignSystem/Primitive/Input/Text.svelte
  ui/DesignSystem/Primitive/Title.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/Discovery.svelte
  ui/Screen/Discovery/Project.svelte
  ui/Screen/OrgRegistration.svelte
  ui/Screen/Settings.svelte
  ui/Screen/UserRegistration/PickHandleStep.svelte
  ui/src/__mocks__/api.ts
  ui/src/discovery.ts
  ui/src/path.ts
  ui/src/project.test.ts
  ui/src/session.test.ts
  ui/src/session.ts
  ui/src/validation.ts
Labels: feature, ui

#654 chore: update surf to 0.4.0
  cypress/integration/project_source_browsing.spec.js
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/coco.rs
  proxy/src/coco/peer.rs
  proxy/src/coco/source.rs
  proxy/src/http.rs
  proxy/src/http/identity.rs
  proxy/src/http/source.rs
  proxy/src/identity.rs
  proxy/src/session.rs
  ui/DesignSystem/Component/SourceBrowser/RevisionSelector.svelte
  ui/Screen/Project/Source.svelte
  ui/src/path.ts
  ui/src/source.ts
Labels: dependencies, improvement, proxy

#669 feat(proxy): expose the account id for user and org
  proxy/src/http/org.rs
  proxy/src/http/user.rs
  proxy/src/registry.rs
Labels: improvement, proxy

#653 feat(proxy): transfer endpoint
  proxy/src/http/org.rs
  proxy/src/http/user.rs
  proxy/src/registry.rs
  proxy/src/registry/transaction.rs
Labels: feature, proxy

#636 feat(proxy): integrate repository selector
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/coco.rs
  proxy/src/coco/peer.rs
  proxy/src/coco/source.rs
  proxy/src/error.rs
  proxy/src/http/identity.rs
  proxy/src/http/project.rs
  proxy/src/http/source.rs
  proxy/src/identity.rs
Labels: feature, proxy

#675 feat(proxy): Integrate registry account_exists check
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/registry.rs
  proxy/src/registry/transaction.rs
Labels: feature, proxy

#681 feat(proxy): accounts endpoint group
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/error.rs
  proxy/src/http.rs
  proxy/src/http/account.rs
  proxy/src/http/id.rs
  proxy/src/registry.rs
  proxy/src/registry/transaction.rs
  ui/src/account.ts
  ui/src/id.ts
Labels: feature, proxy

#662 feat(ui): wallet page
  cypress/integration/org_member_addition.spec.js
  cypress/integration/org_registration.spec.js
  cypress/integration/project_registration.spec.js
  cypress/integration/user_registration.spec.js
  package.json
  ui/DesignSystem/Component/Copyable.svelte
  ui/DesignSystem/Component/QR.svelte
  ui/DesignSystem/Component/Rad.svelte
  ui/DesignSystem/Component/Tooltip.svelte
  ui/DesignSystem/Component/Urn.svelte
  ui/DesignSystem/Component/Wallet.svelte
  ui/DesignSystem/Component/Wallet/Receive.svelte
  ui/DesignSystem/Component/Wallet/SendReceive.svelte
  ui/DesignSystem/Component/Wallet/TxList.svelte
  ui/DesignSystem/Component/Wallet/TxListItem.svelte
  ui/DesignSystem/Component/index.js
  ui/DesignSystem/Primitive/Icon/Circle.svelte
  ui/DesignSystem/Primitive/Icon/Currency.svelte
  ui/DesignSystem/Primitive/Icon/index.js
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/Org.svelte
  ui/Screen/Org/Fund.svelte
  ui/Screen/Org/FundMenu.svelte
  ui/Screen/Profile.svelte
  ui/Screen/Profile/Wallet.svelte
  ui/Screen/Profile/WalletMenu.svelte
  ui/src/transaction.ts
  yarn.lock
Labels: feature, ui

#688 test(ui): add repository selector integration tests
  cypress/integration/project_source_browsing.spec.js
  cypress/support/commands.js
  proxy/src/coco/control.rs
  proxy/src/coco/source.rs
  proxy/src/http/control.rs
  proxy/src/http/org.rs
  proxy/src/http/project.rs
  proxy/src/http/source.rs
  ui/DesignSystem/Component/SourceBrowser/RevisionSelector.svelte
  ui/DesignSystem/Primitive/Icon/Branch.svelte
  ui/DesignSystem/Primitive/Icon/Commit.svelte
Labels: improvement, proxy, ui

#699 fix(ui): project registration button permissions
  cypress/integration/project_creation.spec.js
  ui/Screen/ProjectCreation.svelte
Labels: bug, ui

#686 refactor(proxy): simplify http dependencies
  proxy/src/coco.rs
  proxy/src/coco/control.rs
  proxy/src/coco/peer.rs
  proxy/src/coco/source.rs
  proxy/src/http.rs
  proxy/src/http/account.rs
  proxy/src/http/control.rs
  proxy/src/http/id.rs
  proxy/src/http/identity.rs
  proxy/src/http/org.rs
  proxy/src/http/project.rs
  proxy/src/http/session.rs
  proxy/src/http/source.rs
  proxy/src/http/transaction.rs
  proxy/src/http/user.rs
  proxy/src/identity.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  proxy/src/project.rs
  proxy/src/registry/transaction.rs
  proxy/src/session.rs
Labels: improvement, proxy

#703 refactor(proxy): dry submit transactions
  proxy/src/registry.rs
Labels: improvement, proxy

#702 fix(ui): race condition in commit navigation
  cypress/integration/project_source_browsing.spec.js
  ui/Screen/Project/Commit.svelte
  ui/Screen/Project/Commits.svelte
  ui/Screen/Project/Source.svelte
Labels: bug, ui

#706 fix(ci): fix flaky builds
  .buildkite/run.sh
Labels: improvement, infrastructure

#709 chore(ui): update tools to support typescript
  .buildkite/run.sh
  package.json
  rollup.app.js
  tsconfig.json
  ui/App.svelte
  ui/DesignSystem/Component/AdditionalActionsDropdown.svelte
  ui/DesignSystem/Component/HorizontalMenu.svelte
  ui/DesignSystem/Component/Transaction/ItemDescription.svelte
  ui/DesignSystem/Primitive/Icon/TransactionState.svelte
  ui/Screen/Org/MemberRegistration.svelte
  yarn.lock
Labels: improvement, ui

#705 feat(proxy): expose the account id in session
  proxy/src/http/identity.rs
  proxy/src/identity.rs
Labels: feature, proxy

#701 style(ui): empty state improvements
  ui/DesignSystem/Component/EmptyState.svelte
  ui/DesignSystem/Component/Wallet.svelte
  ui/DesignSystem/Component/Wallet/TxList.svelte
  ui/DesignSystem/Component/Wallet/TxListItem.svelte
  ui/DesignSystem/Primitive/Icon/ArrowDown.svelte
  ui/DesignSystem/Primitive/Icon/ArrowLeft.svelte
  ui/DesignSystem/Primitive/Icon/ArrowUp.svelte
  ui/DesignSystem/Primitive/Icon/At.svelte
  ui/DesignSystem/Primitive/Icon/Branch.svelte
  ui/DesignSystem/Primitive/Icon/Check.svelte
  ui/DesignSystem/Primitive/Icon/Chevron.svelte
  ui/DesignSystem/Primitive/Icon/CloseIssue.svelte
  ui/DesignSystem/Primitive/Icon/Commit.svelte
  ui/DesignSystem/Primitive/Icon/Copy.svelte
  ui/DesignSystem/Primitive/Icon/Cross.svelte
  ui/DesignSystem/Primitive/Icon/Currency.svelte
  ui/DesignSystem/Primitive/Icon/Edit.svelte
  ui/DesignSystem/Primitive/Icon/Ellipses.svelte
  ui/DesignSystem/Primitive/Icon/EmptyState.svelte
  ui/DesignSystem/Primitive/Icon/Expand.svelte
  ui/DesignSystem/Primitive/Icon/Eye.svelte
  ui/DesignSystem/Primitive/Icon/Feed.svelte
  ui/DesignSystem/Primitive/Icon/File.svelte
  ui/DesignSystem/Primitive/Icon/Folder.svelte
  ui/DesignSystem/Primitive/Icon/Fund.svelte
  ui/DesignSystem/Primitive/Icon/Graph.svelte
  ui/DesignSystem/Primitive/Icon/Home.svelte
  ui/DesignSystem/Primitive/Icon/IconWrapper.svelte
  ui/DesignSystem/Primitive/Icon/Important.svelte
  ui/DesignSystem/Primitive/Icon/Inbox.svelte
  ui/DesignSystem/Primitive/Icon/Info.svelte
  ui/DesignSystem/Primitive/Icon/Issue.svelte
  ui/DesignSystem/Primitive/Icon/Key.svelte
  ui/DesignSystem/Primitive/Icon/Label.svelte
  ui/DesignSystem/Primitive/Icon/LockSmall.svelte
  ui/DesignSystem/Primitive/Icon/Member.svelte
  ui/DesignSystem/Primitive/Icon/Merge.svelte
  ui/DesignSystem/Primitive/Icon/Minus.svelte
  ui/DesignSystem/Primitive/Icon/Peer.svelte
  ui/DesignSystem/Primitive/Icon/Plus.svelte
  ui/DesignSystem/Primitive/Icon/Projects.svelte
  ui/DesignSystem/Primitive/Icon/Register.svelte
  ui/DesignSystem/Primitive/Icon/Replies.svelte
  ui/DesignSystem/Primitive/Icon/Revision.svelte
  ui/DesignSystem/Primitive/Icon/Search.svelte
  ui/DesignSystem/Primitive/Icon/Settings.svelte
  ui/DesignSystem/Primitive/Icon/Source.svelte
  ui/DesignSystem/Primitive/Icon/Spinner.svelte
  ui/DesignSystem/Primitive/Icon/TransactionState.svelte
  ui/DesignSystem/Primitive/Icon/Trash.svelte
  ui/DesignSystem/Primitive/Icon/Verified.svelte
  ui/Screen/Project/Source.svelte
Labels: improvement, ui

#692 chore(ui): tests for user wallet page
  cypress/integration/org_wallet.spec.js
  cypress/integration/user_wallet.spec.js
  ui/DesignSystem/Component/QR.svelte
  ui/DesignSystem/Component/Urn.svelte
  ui/DesignSystem/Component/Wallet.svelte
  ui/DesignSystem/Component/Wallet/Receive.svelte
  ui/DesignSystem/Component/Wallet/SendReceive.svelte
  ui/Screen/Org/Fund.svelte
  ui/Screen/Profile/Wallet.svelte
Labels: improvement, ui

#711 feat(ui): show the actual identity accountId
  ui/Screen/Profile/Wallet.svelte
Labels: feature, ui

#714 docs: remove duplicate line
  DEVELOPMENT.md
Labels: improvement, infrastructure

#678 feat(proxy): peer branches
  proxy/src/coco.rs
  proxy/src/coco/peer.rs
  proxy/src/coco/source.rs
  proxy/src/error.rs
  proxy/src/http/source.rs
Labels: improvement, proxy

#715 feat(ui): Show actual free balance on wallet screens
  ui/Screen/Org/Fund.svelte
  ui/Screen/Profile/Wallet.svelte
  ui/src/account.ts
Labels: improvement, ui

#718 feat(proxy): build and package rad-remote-helper with Upstream
  package.json
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/bin/git-remote-rad.rs
Labels: dependencies, feature, proxy

#720 refactor(proxy): move http mount points
  proxy/src/http.rs
  proxy/src/http/avatar.rs
  proxy/src/http/control.rs
  proxy/src/http/doc.rs
  proxy/src/http/id.rs
  proxy/src/http/identity.rs
  proxy/src/http/notification.rs
  proxy/src/http/org.rs
  proxy/src/http/project.rs
  proxy/src/http/session.rs
  proxy/src/http/source.rs
  proxy/src/http/transaction.rs
  proxy/src/http/user.rs
Labels: improvement, proxy

#721 refactor(ci): run checks and lints first
  .buildkite/run.sh
Labels: improvement, infrastructure

#700 feat: Integrate registration fee and drop deposits
  cypress/integration/org_member_addition.spec.js
  cypress/integration/org_registration.spec.js
  cypress/integration/project_registration.spec.js
  cypress/integration/user_registration.spec.js
  proxy/Cargo.lock
  proxy/Cargo.toml
  proxy/src/http/account.rs
  proxy/src/http/org.rs
  proxy/src/http/session.rs
  proxy/src/http/transaction.rs
  proxy/src/http/user.rs
  proxy/src/registry.rs
  proxy/src/registry/transaction.rs
  proxy/src/session.rs
  ui/DesignSystem/Component/Rad.svelte
  ui/DesignSystem/Component/Transaction.svelte
  ui/DesignSystem/Component/Wallet/TxListItem.svelte
  ui/DesignSystem/Primitive/Icon/LockSmall.svelte
  ui/DesignSystem/Primitive/Icon/index.js
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/Org/MemberRegistration.svelte
  ui/Screen/OrgRegistration.svelte
  ui/Screen/ProjectRegistration.svelte
  ui/Screen/TransactionDetails.svelte
  ui/Screen/UserRegistration/SubmitRegistrationStep.svelte
  ui/src/__mocks__/api.ts
  ui/src/currency.ts
  ui/src/org.ts
  ui/src/session.ts
  ui/src/transaction.ts
Labels: dependencies, feature, proxy, ui
