Repository radicle-dev/radicle-upstream, pull requests merged in 2020-10, with the labels that each got.

#980 fix(ui): show search input hint on empty input
  ui/DesignSystem/Primitive/Input/Text.svelte
  ui/Modal/SearchModal.svelte
Labels: bug, ui

#985 feat(ui): add profile "follow" tab empty state
  ui/DesignSystem/Component/Illustration.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/Profile/Tracking.svelte
  ui/src/illustration.ts
Labels: improvement, ui

#989 fix(proxy): ignore fetch errors in when syncing
  proxy/coco/src/peer/sync.rs
Labels: improvement, proxy

#988 refactor(proxy): clean up init_* functions
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/coco/src/error.rs
  proxy/coco/src/lib.rs
  proxy/coco/src/state.rs
Labels: improvement, proxy

#990 fix(ui): extend password text
  ui/Screen/Onboarding/EnterPassphrase.svelte
Labels: improvement, ui

#993 refactor(proxy): module errors
  proxy/api/src/error.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/source.rs
  proxy/api/src/project.rs
  proxy/coco/src/config.rs
  proxy/coco/src/control.rs
  proxy/coco/src/error.rs
  proxy/coco/src/lib.rs
  proxy/coco/src/peer.rs
  proxy/coco/src/peer/announcement.rs
  proxy/coco/src/peer/request.rs
  proxy/coco/src/project/create.rs
  proxy/coco/src/seed.rs
  proxy/coco/src/source.rs
  proxy/coco/src/state.rs
  proxy/coco/src/state/error.rs
  proxy/coco/src/user.rs
Labels: improvement, proxy

#983 chore(proxy): attempt 3 at proper async task management
  proxy/api/src/main.rs
  proxy/coco/src/peer.rs
  proxy/coco/tests/gossip.rs
  proxy/coco/tests/replication.rs
Labels: improvement, proxy

#996 fix: reset:state yarn command
  package.json
Labels: infrastructure

#994 refactor(proxy): move De/Serialize
  proxy/coco/src/request.rs
  proxy/coco/src/request/existential.rs
  proxy/coco/src/request/waiting_room.rs
Labels: improvement, proxy

#1005 feat(proxy): track endpoint
  proxy/api/src/http/project.rs
  proxy/coco/src/control.rs
Labels: feature, proxy

#1008 feat(proxy): Add unsealed guard
  proxy/api/src/context.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/source.rs
  proxy/api/src/main.rs
Labels: improvement, proxy

#1020 cleanup(ui): deduplicated svgs that are part of twemoji
  ui/DesignSystem/Component/Illustration.svelte
  ui/DesignSystem/Primitive/Emoji.svelte
  ui/src/illustration.ts
Labels: improvement

#1019 feat(ui): use consistent shareable identifiers across UI
  cypress/integration/onboarding.spec.js
  ui/DesignSystem/Component/Header/Large.svelte
  ui/DesignSystem/Component/ShareableIdentifier.svelte
  ui/DesignSystem/Component/index.js
  ui/Modal/SearchModal.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/Discovery/Project.svelte
  ui/Screen/Onboarding.svelte
  ui/Screen/Onboarding/Success.svelte
  ui/Screen/Profile.svelte
  ui/Screen/Profile/Tracking.svelte
  ui/Screen/Project.svelte
  ui/Screen/Project/Untracked.svelte
  ui/Screen/UserProfile.svelte
Labels: feature

#1022 refactor(proxy): bump librad
  proxy/Cargo.lock
  proxy/api/src/http/identity.rs
  proxy/api/src/http/source.rs
  proxy/api/src/identity.rs
  proxy/coco/Cargo.toml
  proxy/coco/src/control.rs
  proxy/coco/src/peer.rs
  proxy/coco/src/peer/run_state.rs
  proxy/coco/src/peer/sync.rs
  proxy/coco/src/request/waiting_room.rs
  proxy/coco/src/request/waiting_room/stream.rs
  proxy/coco/src/state.rs
  proxy/coco/tests/gossip.rs
  proxy/coco/tests/replication.rs
Labels: dependencies, improvement, proxy

#992 fix(proxy): prevent halting peer subroutines
  proxy/api/src/context.rs
  proxy/api/src/error.rs
  proxy/api/src/http/project.rs
  proxy/api/src/main.rs
  proxy/coco/src/convert.rs
  proxy/coco/src/lib.rs
  proxy/coco/src/peer.rs
  proxy/coco/src/peer/announcement.rs
  proxy/coco/src/peer/control.rs
  proxy/coco/src/peer/gossip.rs
  proxy/coco/src/peer/request.rs
  proxy/coco/src/peer/run_state.rs
  proxy/coco/src/peer/subroutines.rs
  proxy/coco/src/request/waiting_room.rs
  proxy/coco/src/request/waiting_room/stream.rs
  proxy/coco/src/shared.rs
  proxy/coco/src/spawn_abortable.rs
  proxy/coco/src/state/error.rs
  proxy/coco/tests/common.rs
  proxy/coco/tests/gossip.rs
  proxy/coco/tests/internal.rs
  proxy/coco/tests/replication.rs
Labels: improvement, proxy

#1025 fix(proxy): await request urn
  proxy/api/src/context.rs
  proxy/api/src/http/project.rs
Labels: bug, proxy

#1026 refactor: move request urn endpoint to PUT
  proxy/api/src/http/project.rs
  ui/src/api.ts
  ui/src/search.ts
Labels: improvement, proxy, ui

#937 fix: handle missing source object gracefully
  proxy/api/src/http/error.rs
  ui/DesignSystem/Component/EmptyState.svelte
  ui/Screen/Project/Source.svelte
  ui/src/api.ts
  ui/src/error.ts
Labels: improvement, proxy, ui

#1024 TypeScript targets ES2018
  tsconfig.json
Labels: dependencies, improvement, ui

#1015 fix(proxy): peer browsing
  proxy/Cargo.lock
  proxy/api/src/http/control.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/source.rs
  proxy/api/src/project.rs
  proxy/coco/src/source.rs
  proxy/coco/src/state.rs
  proxy/coco/src/state/error.rs
  proxy/coco/tests/source.rs
Labels: improvement, proxy

#1030 feat(ui): check if project exists when searching
  proxy/api/src/http/error.rs
  proxy/coco/src/state/error.rs
  ui/App.svelte
  ui/DesignSystem/Component/TrackToggle.svelte
  ui/DesignSystem/Primitive/Input/Text.svelte
  ui/Hotkeys.svelte
  ui/Modal/NewProject.svelte
  ui/Modal/Search.svelte
  ui/Modal/SearchModal.svelte
  ui/Modal/index.js
  ui/Screen/Onboarding/EnterName.svelte
  ui/src/modal.ts
  ui/src/path.ts
  ui/src/search.ts
  ui/src/track.ts
  ui/src/validation.ts
Labels: feature, ui

#1034 fix: party prep
  proxy/api/src/http/source.rs
  proxy/coco/src/source.rs
  proxy/coco/src/state.rs
  ui/Screen/Profile/Tracking.svelte
  ui/Screen/Project/Source.svelte
Labels: bug, improvement, proxy, ui

#1027 feat(ui): Show network connectivity indicator
  ui/DesignSystem/Component/ConnectionStatusIndicator.svelte
  ui/DesignSystem/Component/ConnectionStatusIndicator/Offline.svelte
  ui/DesignSystem/Component/ConnectionStatusIndicator/Syncing.svelte
  ui/DesignSystem/Component/Sidebar.svelte
  ui/DesignSystem/Component/index.js
  ui/Screen/DesignSystemGuide.svelte
Labels: feature, ui

#1051 fix: "run all specs" from cypress UI
  cypress/integration/onboarding.spec.js
  cypress/integration/project_checkout.spec.js
  cypress/integration/project_creation.spec.js
  cypress/integration/project_source_browsing.spec.js
  cypress/integration/user_profile.spec.js
Labels: infrastructure

#1010 fix(proxy): checkout peer
  proxy/Cargo.lock
  proxy/api/src/http.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/source.rs
  proxy/coco/src/project/checkout.rs
  proxy/coco/src/state.rs
  proxy/coco/tests/replication.rs
  ui/Screen/Project.svelte
  ui/src/project.ts
Labels: improvement, proxy

#1053 fix(proxy): clean up long-running notifications
  proxy/api/src/main.rs
  proxy/api/src/notification.rs
  ui/DesignSystem/Component/Sidebar.svelte
Labels: bug, proxy

#1057 fix(proxy): block on checkout
  proxy/coco/src/state.rs
Labels: bug, proxy

#1033 chore(ci): fail build on eslint warnings
  package.json
  ui/DesignSystem/Component/List.svelte
  ui/DesignSystem/Component/Remote.svelte
  ui/DesignSystem/Component/WithContext.svelte
  ui/Screen/Profile/Tracking.svelte
  ui/src/onboarding.ts
  ui/src/overlay.ts
  ui/src/project.ts
  ui/src/source.ts
  ui/src/validation.ts
Labels: improvement, infrastructure

#1059 fix(proxy): persist TimedOut state
  proxy/coco/src/request.rs
  proxy/coco/src/request/waiting_room.rs
Labels: bug, improvement, proxy

#1047 fix(ui): always tracked toggle for projects
  ui/DesignSystem/Component/TrackToggle.svelte
  ui/Screen/Project.svelte
  ui/Screen/Project/PeerSelector.svelte
Labels: bug, ui

#1062 refactor(proxy): remove providers
  proxy/coco/src/state.rs
  proxy/coco/tests/gossip.rs
Labels: improvement, proxy

#1067 fix: correct path in reset script
  scripts/reset-state.sh
Labels: bug, infrastructure

#1071 fix(proxy): fix waiting room logic for next query
  proxy/coco/src/request/waiting_room.rs
Labels: bug, proxy

#1074 fix(ui): fix peer selection on repo change
  ui/src/source.ts
Labels: bug, ui

#1070 fix(ui): correct left positioned Tooltip
  ui/DesignSystem/Component/Tooltip.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/src/style.ts
  ui/src/tooltip.ts
Labels: improvement, ui

#1064 refactor(proxy): use signer in `coco::State`
  proxy/api/src/context.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/source.rs
  proxy/api/src/identity.rs
  proxy/api/src/main.rs
  proxy/coco/src/control.rs
  proxy/coco/src/peer/announcement.rs
  proxy/coco/src/source.rs
  proxy/coco/src/state.rs
  proxy/coco/tests/common.rs
  proxy/coco/tests/gossip.rs
  proxy/coco/tests/internal.rs
  proxy/coco/tests/replication.rs
  proxy/coco/tests/source.rs
Labels: improvement, proxy

#1069 chore(ui): improve blocked TrackToggle
  ui/DesignSystem/Component/ProjectList.svelte
  ui/DesignSystem/Component/TrackToggle.svelte
  ui/Screen/Project.svelte
  ui/src/project.ts
Labels: improvement, ui

#1055 fix(ui): limit display name and project name max length
  cypress/integration/onboarding.spec.js
  cypress/integration/project_creation.spec.js
  ui/DesignSystem/Primitive/Input/Text.svelte
  ui/Modal/NewProject.svelte
  ui/Screen/Onboarding/EnterName.svelte
  ui/src/onboarding.ts
  ui/src/project.ts
  ui/src/validation.ts
Labels: improvement, ui

#1077 Bump radicle-surf to v0.5.0
  proxy/Cargo.lock
  proxy/api/Cargo.toml
  proxy/coco/Cargo.toml
Labels: dependencies, improvement

#1087 fix: terminate proxy on app shutdown
  native/main.js
Labels: bug, proxy, ui

#1086 chore(proxy): disable control endpoints
  proxy/api/src/context.rs
  proxy/api/src/http.rs
  proxy/api/src/main.rs
Labels: improvement, proxy

#1088 chore(ui): remove footgun leftovers
  native/main.js
Labels: improvement, infrastructure

#1089 feat(proxy): streaming seed discovery
  proxy/api/src/main.rs
  proxy/coco/src/config.rs
  proxy/coco/src/lib.rs
  proxy/coco/src/seed.rs
  proxy/coco/tests/common.rs
Labels: feature, proxy

#1091 chore(ui): correct seed input notifications
  ui/Modal/Search.svelte
  ui/Screen/Project.svelte
  ui/src/notification.ts
  ui/src/session.ts
Labels: improvement, ui

#1093 fix(proxy): avoid double discovery on startup
  proxy/api/src/main.rs
  proxy/coco/src/config.rs
Labels: bug, proxy

#1094 fix(proxy): correct handling of connections
  proxy/coco/src/peer/run_state.rs
Labels: bug, proxy

#1084 chore(proxy): update librad to get new changes
  proxy/Cargo.lock
  proxy/api/src/http/control.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/source.rs
  proxy/coco/Cargo.toml
  proxy/coco/src/control.rs
  proxy/coco/src/lib.rs
  proxy/coco/src/peer/announcement.rs
  proxy/coco/src/project.rs
  proxy/coco/src/project/checkout.rs
  proxy/coco/src/project/create.rs
  proxy/coco/src/source.rs
  proxy/coco/src/state.rs
  proxy/coco/src/state/error.rs
  proxy/coco/tests/common.rs
  proxy/coco/tests/replication.rs
Labels: dependencies, improvement, proxy

#1097 refactor(proxy): Remove `enable_fixture_creation_flag`
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/main.rs
Labels: improvement, proxy

#1096 refactor(proxy): Move binary code into `api` crate
  proxy/api/src/config.rs
  proxy/api/src/lib.rs
  proxy/api/src/main.rs
  proxy/api/src/process.rs
  proxy/api/src/project.rs
Labels: improvement, proxy

#1098 refactor(test): Eliminate redundant helpers for reset
  cypress/integration/onboarding.spec.js
  cypress/integration/project_checkout.spec.js
  cypress/integration/project_creation.spec.js
  cypress/integration/project_source_browsing.spec.js
  cypress/integration/routing.spec.js
  cypress/integration/settings_specs.js
  cypress/integration/user_profile.spec.js
  cypress/support/commands.js
  proxy/api/src/http/control.rs
Labels: improvement, proxy, ui

#1101 feat(proxy): untrack peer
  proxy/api/src/http/project.rs
  proxy/coco/src/state.rs
Labels: feature, proxy

#1081 feature(proxy): list remotes
  proxy/Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/http/project.rs
  proxy/api/src/http/source.rs
  proxy/api/src/identity.rs
  proxy/api/src/project.rs
  proxy/coco/Cargo.toml
  proxy/coco/src/control.rs
  proxy/coco/src/project.rs
  proxy/coco/src/project/peer.rs
  proxy/coco/src/source.rs
  proxy/coco/src/state.rs
  proxy/coco/tests/replication.rs
  proxy/coco/tests/source.rs
Labels: feature, proxy

#1102 fix(ui): show correct projects for users
  ui/Screen/Profile/Projects.svelte
  ui/Screen/UserProfile.svelte
  ui/Screen/UserProfile/Projects.svelte
  ui/src/__mocks__/api.ts
  ui/src/identity.ts
  ui/src/project.test.ts
  ui/src/project.ts
  ui/src/userProfile.ts
Labels: bug, ui

#1103 feat(proxy): list project requests
  proxy/api/src/http/project.rs
  proxy/coco/src/peer/control.rs
  proxy/coco/src/peer/run_state.rs
  proxy/coco/src/peer/subroutines.rs
  proxy/coco/src/request.rs
  proxy/coco/src/request/existential.rs
  proxy/coco/src/request/waiting_room.rs
  ui/src/search.ts
Labels: feature, proxy

#1104 feat(ui): list project requests
  package.json
  ui/DesignSystem/Component/EmptyState.svelte
  ui/DesignSystem/Component/HorizontalMenu/MenuItem.svelte
  ui/DesignSystem/Component/List.svelte
  ui/DesignSystem/Component/ProjectList.svelte
  ui/DesignSystem/Component/Remote.svelte
  ui/DesignSystem/Component/ShareableIdentifier.svelte
  ui/DesignSystem/Component/Sidebar.svelte
  ui/DesignSystem/Component/SidebarLayout.svelte
  ui/DesignSystem/Component/TrackToggle.svelte
  ui/Modal/Search.svelte
  ui/Screen/Profile.svelte
  ui/Screen/Profile/Following.svelte
  ui/Screen/Profile/Projects.svelte
  ui/Screen/Profile/Tracking.svelte
  ui/Screen/UserProfile/Projects.svelte
  ui/src/identity.ts
  ui/src/path.ts
  ui/src/profile.ts
  ui/src/project.ts
  ui/src/remote.ts
  ui/src/session.ts
  ui/src/types/svelte-spa-router/index.d.ts
  ui/src/waitingRoom.ts
Labels: feature, ui

#1108 chore(ci): Check intra doc link resolution
  .buildkite/run.sh
  proxy/api/src/http/error.rs
  proxy/api/src/http/notification.rs
  proxy/coco/src/peer/run_state.rs
Labels: infrastructure, proxy

#1110 fix(ui): revive avatar in profile
  ui/Screen/Profile.svelte
Labels: bug, ui

#1105 feat: cancel project search
  proxy/api/src/error.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/project/request.rs
  proxy/coco/src/peer/control.rs
  proxy/coco/src/peer/run_state.rs
  proxy/coco/src/peer/subroutines.rs
  proxy/coco/tests/gossip.rs
  ui/Screen/Profile/Following.svelte
  ui/src/profile.ts
  ui/src/project.ts
  ui/src/waitingRoom.ts
Labels: feature, proxy, ui

#1107 refactor(proxy): introduce Context variants
  proxy/api/src/context.rs
  proxy/api/src/error.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/notification.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/project/request.rs
  proxy/api/src/http/session.rs
  proxy/api/src/http/source.rs
  proxy/api/src/process.rs
Labels: proxy

#1114 fix(ui): correct check for listening
  ui/src/profile.ts
Labels: bug, ui

#1115 chore: restart proxy when debugging tests
  package.json
Labels: improvement, infrastructure, proxy

#1014 feat(ui): project remote management
  DEVELOPMENT.md
  cypress/integration/project/checkout.spec.js
  cypress/integration/project/creation.spec.js
  cypress/integration/project/peer_management.spec.js
  cypress/integration/project/source_browsing.spec.js
  proxy/api/src/http.rs
  ui/App.svelte
  ui/DesignSystem/Component/FollowToggle.svelte
  ui/DesignSystem/Component/List.svelte
  ui/DesignSystem/Component/ModalOverlay.svelte
  ui/DesignSystem/Component/StyledCopyable.svelte
  ui/DesignSystem/Component/Tooltip.svelte
  ui/DesignSystem/Component/index.js
  ui/Modal/ManagePeers.svelte
  ui/Modal/ManagePeers/Peer.svelte
  ui/Modal/ManagePeers/PeerFollowRequest.svelte
  ui/Modal/Search.svelte
  ui/Screen/DesignSystemGuide.svelte
  ui/Screen/Discovery/Project.svelte
  ui/Screen/Profile/Following.svelte
  ui/Screen/Project.svelte
  ui/Screen/Project/PeerSelector.svelte
  ui/src/identity.ts
  ui/src/modal.ts
  ui/src/path.ts
  ui/src/project.ts
  ui/src/track.ts
  ui/src/urn.ts
Labels: feature, ui

#1117 feat: add project search notifications
  proxy/api/src/http/notification.rs
  proxy/api/src/notification.rs
  proxy/coco/src/peer/run_state.rs
  ui/App.svelte
  ui/Modal/Search.svelte
  ui/Screen/Profile/Following.svelte
  ui/src/localPeer.ts
  ui/src/notification.ts
  ui/src/profile.ts
  ui/src/remote.ts
  ui/src/search.ts
Labels: feature, proxy, ui

#1119 chore(proxy): update default seed PeerId
  proxy/api/src/http/session.rs
  proxy/api/src/session/settings.rs
  ui/Screen/DesignSystemGuide.svelte
  ui/src/session.test.ts
Labels: improvement, infrastructure, proxy

#1122 fix(proxy): handle case for RequestInput::Failed
  proxy/coco/src/peer/run_state.rs
Labels: improvement, proxy

#1123 style(ui): style search box
  ui/DesignSystem/Primitive/Input/Text.svelte
  ui/Modal/Search.svelte
Labels: improvement, ui

#1106 style(ui): truncate project name and description
  DEVELOPMENT.md
  ui/DesignSystem/Component/Copyable.svelte
  ui/DesignSystem/Component/Header/Large.svelte
  ui/DesignSystem/Component/ProjectCard.svelte
  ui/DesignSystem/Component/ProjectList.svelte
  ui/DesignSystem/Component/ShareableIdentifier.svelte
  ui/DesignSystem/Component/SidebarLayout.svelte
  ui/DesignSystem/Component/Stats.svelte
  ui/DesignSystem/Primitive/Flex.svelte
  ui/DesignSystem/Primitive/index.js
  ui/Modal/NewProject.svelte
  ui/Screen/NotFound.svelte
  ui/Screen/Project/Commit.svelte
  ui/Screen/Project/PeerSelector.svelte
Labels: bug, ui

#1121 chore(ui): update ts-jest to eliminate warning
  package.json
  yarn.lock
Labels: improvement, infrastructure

#1126 style(ui): improve legibility
  public/global.css
  ui/DesignSystem/Component/KeyHint.svelte
  ui/DesignSystem/Primitive/Button.svelte
Labels: improvement, ui

#1130 chore(proxy): removing discovery
  proxy/api/src/http/project.rs
  proxy/api/src/project.rs
  ui/App.svelte
  ui/Screen/Discovery.svelte
  ui/src/discovery.ts
  ui/src/path.ts
Labels: proxy

#1120 feat: require keystore unsealing
  cypress/integration/lock.spec.js
  cypress/integration/onboarding.spec.js
  cypress/integration/project/source_browsing.spec.js
  cypress/support/commands.js
  proxy/Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/context.rs
  proxy/api/src/error.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/keystore.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/session.rs
  proxy/api/src/http/source.rs
  proxy/api/src/lib.rs
  proxy/api/src/process.rs
  proxy/api/src/service.rs
  proxy/api/src/session.rs
  proxy/api/src/session/settings.rs
  ui/App.svelte
  ui/DesignSystem/Component/SidebarLayout.svelte
  ui/DesignSystem/Primitive/Input/Password.svelte
  ui/Screen/Lock.svelte
  ui/Screen/Onboarding.svelte
  ui/Screen/Profile.svelte
  ui/Screen/Profile/Following.svelte
  ui/Screen/Profile/Projects.svelte
  ui/src/__mocks__/api.ts
  ui/src/api.ts
  ui/src/identity.ts
  ui/src/localPeer.ts
  ui/src/path.ts
  ui/src/session.test.ts
  ui/src/session.ts
  ui/src/settings.ts
Labels: feature, proxy, security, ui

#1134 fix(proxy): validate creation paths
  proxy/api/src/http/error.rs
  proxy/api/src/http/project.rs
  proxy/coco/src/project/create.rs
  proxy/coco/src/state.rs
  proxy/coco/tests/common.rs
Labels: improvement, proxy

#1152 feat(ui): add peerId to settings
  ui/DesignSystem/Component/Copyable.svelte
  ui/Screen/Settings.svelte
Labels: design, improvement, ui

#1155 fix(ui): make manage remotes modal consistent with peer selector
  cypress/integration/project/peer_management.spec.js
  ui/DesignSystem/Component/AdditionalActionsDropdown.svelte
  ui/DesignSystem/Component/Copyable.svelte
  ui/DesignSystem/Component/StyledCopyable.svelte
  ui/Modal/ManagePeers.svelte
  ui/Modal/ManagePeers/Peer.svelte
  ui/Modal/ManagePeers/PeerFollowRequest.svelte
  ui/Screen/DesignSystemGuide.svelte
Labels: improvement, ui

#1156 fix(proxy): check waiting room has urn
  proxy/coco/src/peer/run_state.rs
  proxy/coco/src/request/waiting_room.rs
Labels: improvement, proxy
